
.activity_image{
    max-width: 100%;
    margin-top: 10px;
    height: 250px;
}
span{
    margin: 10px 10px;
    font-weight: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}